<html>
  <h1>Editing Book</h1>

  <% if @book.errors.any? %>
  <%= @book.errors.count %>error occurred
  <% @book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

  <%= form_with model: @book, url:book_path(@book), local:true do |f| %>
    <h2>Title:</h2>
    <%= f.text_field :title %>
    <h2>Body</h2>
    <%= f.text_field :body %>
    <h2></h2>
    <%= f.submit 'Update Book' %>
  <% end %>

<%= link_to "Show", book_path(@book) %>
" | "
<%= link_to "Back", books_path %>

</html>